* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(255, 246, 232);
    font-family: 'Lato', sans-serif;
    width: 100%;
}

li {
    list-style: none
}

a {
    text-decoration: none;
    color: #000;
}

/*Nav bar*/
#header {
    position: fixed;
    top: 0;
    min-height: 60px;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: rgb(253, 228, 187);
    width: 100%;
}

.logo {
    margin-left: 30px;
}

#nav-bar {
    width: 100%;
}

#nav-bar > ul {
    display: flex;
    justify-content: flex-end;
}

#nav-bar > ul > li {
    margin-right: 70px;
}

/*'Main' section*/
#main {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#email {
    width: 250px;
    border: 2px solid;
    padding: 5px; 
    margin-top: 20px;
}

.button {
    margin-top: 20px;
    width: 150px;
    padding: 7px;
    background-color: rgb(211, 175, 28);
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1rem;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(209, 145, 28);
    transition: background-color 1s;
}

/*'Features' section*/
#features {
    margin-top: 100px;
    margin-bottom: 100px;

}
.desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 100%;
}

.desc h2 {
    margin-bottom: 12px;
    display: flex;
    justify-content: flex-start;
    width: 800px;
}

.desc p {
    width: 800px;
}

/*'How it works' section*/
#how-it-works {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*'Pricing' section*/
#pricing {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #000;
    width: 300px;
    height: 300px;
    margin: 10px;
}

.trombone-name {
    width: 100%;
    padding: 15px;
    background-color: #e6e2da;
    font-weight: 700;
    text-transform: uppercase;
}

.product h2 {
    margin-top: 15px;
}

.product ol {
    margin-top: 5px;
}

.product li {
    margin-top: 12px;
}

.select {
    width: 100px;
    height: 40px;
    margin: auto;
    background-color: rgb(211, 175, 28);
    border: none;
    border-radius: 3px;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}

.select:hover {
    background-color: rgb(209, 145, 28);
    transition: background-color 1s;
}

/*'Footer' section*/
footer {
    background-color: rgb(230, 226, 218);
    margin-top: 50px;
    padding: 5px;
}

footer ul {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

footer  ul  li  a {
    margin-right: 20px;
}

footer ul li a:hover {
    text-decoration: underline;
}

span {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    margin-top: 15px;
    margin-right: 17px;
    color: rgb(95, 93, 93);
}